<div class="menu-item-container">
    <h1>Find a service suitable for you here.</h1>
    <div class="menu-item-row-container">
        <mat-nav-list>
            <a mat-list-item routerLink="searchByStation">
                <div class="menu-item">
                    <mat-icon>location_on</mat-icon>
                    Search By Station
                </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="searchByTrainNumber">
                <div class="menu-item">
                    <mat-icon>train</mat-icon>
                    Search By Train Number
                </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="arrivalTime">
                <div class="menu-item">
                    <mat-icon>access_time</mat-icon>
                    Arrival Time Predictor
                </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="cancelledTrain">
                <div class="menu-item">
                    <mat-icon>block</mat-icon>
                    Cancelled Trains
                </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="divertedTrain">
                <div class="menu-item">
                    <mat-icon>directions_bus</mat-icon>
                    Diverted Trains
                </div>
            </a>
        </mat-nav-list>
    </div>
    <div class="menu-item-row-container">
        <mat-nav-list>
            <a mat-list-item routerLink="trainSchedule">
                <div class="menu-item">
                    <mat-icon>schedule</mat-icon>
                    Train Schedules
                </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="availableSeats">
                <div class="menu-item">
                    <mat-icon>event_seat</mat-icon>
                    Seat Availability
                </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="liveStatus">
                <div class="menu-item">
                    <mat-icon>directions_railway</mat-icon>
                    Live Status of Train
                </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="customerService">
                <div class="menu-item">
                    <mat-icon>support_agent</mat-icon>
                    Customer Service
                </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="helpDesk">
                <div class="menu-item">
                    <mat-icon>help_outline</mat-icon>
                    HelpDesk
                </div>
            </a>
        </mat-nav-list>
    </div>
</div>